 <div>
  <% if user_signed_in? %>
    <div id="corner_signout"><%= current_user.email %> |     <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></div>
    <h3>Welcome Back!</h3>
    <p>How's the workout? Feeling the burn? Record your exercises!</p>
    <form method="get" action="exercises/new"><button type="submit">Add Exercise</button></form>
    <p>Uninspired? Check out how well you have been doing. Keep it up!</p>
    <%= link_to 'See All Exercises', controller: 'exercises' %>

  <% else %>
    <div id="corner_signin"><%= link_to "Sign Up", new_user_registration_path %> or <%= link_to "Sign In", new_user_session_path %></div>
    <br>  
    <div id="home_logo"><%= image_tag "ff_logo.gif" %></div>
    <br>
    <div id="home_p">
      <p>Welcome to The Fitness Formula! Our goal is to help you achieve your fitness goals. With The Fitness Formula, you can easily track your daily fitness routines, from how long you ran on Tuesday to how many pushups you were able to pump out on Thursday!<br><br>Simply <%= link_to "sign in", new_user_session_path %> or <%= link_to "sign up", new_user_registration_path %> to get started.</p>
    </div>
   <% end %>  
</div>