<p>
  <strong>Exercise:</strong>
  <%= @exercise.exercise_name %>
</p>
 
<p>
  <strong>Time (in minutes):</strong>
  <%= @exercise.time_in_minutes %>
</p>
 
<p>
  <strong>Reps or miles:</strong>
  <%= @exercise.reps_or_miles %>
</p>
 
<p>
  <strong>Exhaustion level:</strong>
  <%= @exercise.exhaustion_level %>
</p>
 
<p>
  <strong>Date:</strong>
  <%= @exercise.date %>
</p>
 
